<div class="col-md-6 offset-md-3">
    <h3 class="text-center"> Create Client </h3>
    <hr>
    <br>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> First Name</label>
            <input type="text" class="form-control" id="firstName" 
                   [value]="firstName()" 
                   (input)="firstName.set($any($event.target).value)" 
                   name="firstName">
        </div>

        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class="form-control" id="lastName" 
                   [value]="lastName()" 
                   (input)="lastName.set($any($event.target).value)" 
                   name="lastName">
        </div>

        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class="form-control" id="emailId" 
                   [value]="emailId()" 
                   (input)="emailId.set($any($event.target).value)" 
                   name="emailId">
        </div>

        <div class="form-group">
            <label> Credit Limit</label>
            <input type="number" class="form-control" id="creditLimit" 
                   [value]="creditLimit()" 
                   (input)="creditLimit.set(+$any($event.target).value)" 
                   name="creditLimit">
        </div>

        <br>

        <button class="btn btn-success" type="submit" [disabled]="!isFormValid() || isSubmitting()">
            @if (isSubmitting()) {
                Submitting...
            } @else {
                Submit
            }
        </button>

    </form>
</div>