<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button (click)="navigateToClients()" class="btn btn-primary">Clients List</button>
        </li>
        <li class="nav-item">
            <button (click)="navigateToCreateClient()" class="btn btn-primary">Add Client</button>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>{{information}} - {{year}} </span>
    </div>
</footer>
